@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (services == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Host. </th>
                <th>Container Port</th>
                <th>Host Port</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in services)
            {
                <tr>
                    <td>@service.ServiceName</td>
                    <td>@service.HostName</td>
                    <td>@service.ContainerPortNumber</td>
                    <td>@service.HostPortNumber</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ServiceInfo[]? services;

    protected override async Task OnInitializedAsync()
    {
        services = await Http.GetFromJsonAsync<ServiceInfo[]>("services");
    }

    public record ServiceInfo(
        string ServiceName,
        string? HostName,
        string? ContainerPortNumber,
        string? HostPortNumber
    );
}
